main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    --background-second-color: #2f2f2f;
    --primary-color: forestgreen;
}

main * {
    font-size: 16px;
}

header {
    width: 100%;
    height: 40px;
    background: var(--background-second-color);
    display: flex;
    align-items: center;
    padding: 5px 40px;
    box-sizing: border-box;
}

.header__tittle {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
}

#header__playButton {
    all: unset;
    width: 36px;
    height: 28px;
    color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

#header__playButton:not(:disabled):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#header__playButton:not(:disabled):active {
    background-color: rgba(255, 255, 255, 0.05);
}

#header__playButton:disabled {
    color: gray;
    cursor: default;
}

#editor {
    width: 100%;
    flex-grow: 1;
}

.console {
    height: min(30%, 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #303830;
}

.console__header {
    background: var(--background-second-color);
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 16px;
}

#console__textarea {
    background: #252525;
    color: var(--primary-color);
    --offset: 43px;
    border: none;
    width: calc(100% - var(--offset));
    margin-left: var(--offset);
    height: 100%;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.console textarea:focus {
    outline: none;
}

.ace_constant {
    color: #AE81FF;
}

.ace_operator {
    color: #66D9EF;
}

.ace_librarys {
    color: #18bfa0;
}